// z-index


$zindex-heaven: 1000 !default;

$zindex-modal: 500 !default;

$zindex-named-local-menu--opend: 410 !default;
$zindex-named-global-header: 400 !default;

$zindex-named-local-menu: 300 !default;

$zindex-named-content-header--fiexd: 200 !default;

$zindex-named-page-top: 100 !default;

$zindex-popup: 50 !default;

$zindex-on: 10 !default;
